.PanelHeader__in {
    background-color: #2C2D30;
}

.PanelHeader__content {
    color: whitesmoke;
    font-weight: 400;
}


.Panel .Panel__in, .Panel::after {
    background-color: #1E1C1E;
}

.SimpleCell__children {
    color: #ffffff;
}

.Cell__main {
    color: #fff;
}

.Tabs {
    background: #2C2D30;
}

.Tabs--default .TabsItem--selected {
    color: #ffffff;
}


.itemwrapper {
    background-color: #232323;
    border-radius: 15px;
}

#title {
    color: #ffffff;
}

#subhead {
    color: #99A2AD;
}


.gameInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #232323;
    color: #ffffff;
    border-radius: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {

    display: grid;
    justify-content: space-between;
    grid-template-rows: 32px 32px;
    grid-template-columns: 100px 100px;
}

.stream-info-container {
    display: grid;
    justify-content: space-between;
    grid-template-rows: 24px 24px;
    grid-template-columns: 100px;
}

.Cell--android .Cell__indicator, .Cell--android .Cell__aside {
    padding-top: 0px;
    padding-bottom: 12px;
}

.tournament-info-container {
    margin-top: 12px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 24px 24px;
    text-align: center;
}


.eventPage-prize-container {
    padding: 12px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 32px 24px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

}

#eventPage-prize-color {
    color: #0FC136;
}

#eventPage-match-info {
    background-color: #4A4A4A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#eventPage-match-info-redTitle {
    color: #FF4052;
}

#eventPage-match-info-teams-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#eventPage-match-info-teams-body {
    display: grid;
    grid-template-columns: 20% auto 20% auto 20%;
    grid-template-rows: 24px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

}

.Cell--android .Cell__indicator, .Cell--android .Cell__aside {
    padding-top: 12px;
    padding-bottom: 12px;
}

.Subhead--w-medium {
    font-weight: 400;
    
    font-size: 18px;
}

.SimpleCell--android {
    font-size: 14px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
}


.PanelHeader--android .PanelHeader__content {
    font-size: 20px;
    justify-content: center;
}